/* CONFIGURACIÓN GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: #f4f4f4;

    color: #222;
}


a {
    text-decoration: none;

    color: white;
}


button {
    cursor: pointer;
}


.contenedor {
    width: 90%;

    max-width: 1200px;

    margin: auto;
}


/* NAVBAR */

.navbar {
    background-color: #111827;

    padding: 20px 0;
}


.navbar .contenedor {
    display: flex;

    justify-content: space-between;

    align-items: center;
}


.logo {
    color: white;
}


.menu {
    display: flex;

    gap: 20px;
}


.menu a:hover {
    color: #8b5cf6;
}


.acciones {
    display: flex;

    gap: 15px;
}


/* SECCIÓN PRINCIPAL */

.principal {
    background-color: #1f2937;

    color: white;

    padding: 70px 0;
}


.principal-contenido {
    display: flex;

    justify-content: space-between;

    align-items: center;
}


.principal-texto {
    width: 50%;
}


.principal-texto h1 {
    font-size: 45px;

    margin-bottom: 20px;
}


.principal-texto p {
    margin-bottom: 25px;
}


.principal-texto button {
    padding: 12px 20px;

    background-color: #7c3aed;

    color: white;

    border: none;

    border-radius: 5px;
}


.principal-imagen {
    width: 40%;

    height: 250px;

    background-color: #374151;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 10px;
}


/* PRODUCTOS */

.productos {
    padding: 60px 0;
}


.productos h2 {
    margin-bottom: 30px;
}


.lista-productos {
    display: flex;

    gap: 20px;
}


.producto {
    width: 25%;

    background-color: white;

    padding: 15px;

    border-radius: 8px;

    text-align: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.imagen-producto {
    height: 150px;

    background-color: #ddd;

    display: flex;

    justify-content: center;

    align-items: center;

    margin-bottom: 15px;
}


.producto h3 {
    margin-bottom: 10px;
}


.producto p {
    margin-bottom: 15px;

    font-weight: bold;
}


.producto button {
    padding: 10px 15px;

    border: none;

    background-color: #7c3aed;

    color: white;

    border-radius: 5px;
}


/* FOOTER */

footer {
    background-color: #111827;

    color: white;

    padding: 30px 0;

    margin-top: 40px;
}


footer .contenedor {
    display: flex;

    justify-content: space-between;
}


/* RESPONSIVE */

@media (max-width: 800px) {

    .navbar .contenedor {
        flex-direction: column;

        gap: 15px;
    }


    .principal-contenido {
        flex-direction: column;

        gap: 30px;
    }


    .principal-texto {
        width: 100%;
    }


    .principal-imagen {
        width: 100%;
    }


    .lista-productos {
        flex-direction: column;
    }


    .producto {
        width: 100%;
    }

}